
* {
    margin: 0;
    padding: 0;
  }

  /* 
  !!!!!!!!!!!!!!!!!!!!!
  We just told every 
  element on the page to 
  not have any margin or 
  border unless we explicitly 
  tell it to. 
  !!!!!!!!!!!!!!!!!!!!!!*/

/* Applying styles to body */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #39a6b2;
  }

/* Applying styles to header next */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* Applying style to the RUN BLOOD anchor */
  header nav ul li a {
    color: #fce138;
    margin: 0 30px;
    text-decoration: none;
    font-weight: lighter;
    font-size: 22px;
  }

  a:hover {
    color: #fff3a3;
  }

  header nav {
    float: right;
    margin: 7px 0;
  }

  header nav ul li {
    display: inline;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
    text-decoration: none;
  }

  header h1 a {
    text-decoration: none;
    color: #fce138;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    display: inline;
  }